@import "./variables.scss";

.herobanner {
  @apply w-full relative py-6 mt-6;

  .img {
    @apply relative h-full;

    &::after {
      content: "";
      @apply absolute w-full h-full top-0 left-0 bg-primary-light opacity-90;
      background: linear-gradient(
        270deg,
        theme("colors.primary.darker") 0%,
        theme("colors.primary.dark") 35%,
        theme("colors.primary.light") 100%
      );
    }
  }

  .herotext {
    @apply absolute w-full h-full top-0 left-0 flex justify-center items-center text-secondary;

    & > div {
      @apply prose;

      h1 {
        @apply text-secondary mb-3 bg-gray-50 pl-2;
      }

      p {
        @apply mt-1 text-gray-50 font-semibold;
      }
    }
  }

  .registerform {
    @apply rounded-md shadow bg-white px-5 py-4 prose;
    min-height: 300px;

    h2 {
      @apply text-gray-500 mb-6;
    }

    .formgroup {
      @apply pb-5 mb-1 relative;
      label {
        @apply block mb-1;
      }
      & > input {
        @apply w-full rounded border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
      }

      select {
        @apply w-full;
      }

      .errors {
        @apply absolute text-xs text-red-500 bottom-0;
      }

      .phoneinput {
        @apply w-full;
      }
    }

    .buttongroup {
      @apply flex justify-center;
    }
  }

  .errormsg {
    @apply relative text-xs text-red-500 mt-3 w-full text-center;
  }
}
