@import "./variables.scss";

.loginpopup {
  @apply bg-white rounded-lg shadow-lg px-4 py-2 flex items-center;
  width: 300px;
  min-height: 400px;

  .googlesignin {
    @apply px-3 pt-1 pb-2 rounded-md shadow-md bg-white hover:shadow;

    .img {
      @apply inline-block relative top-1;
    }
  }

  .divider {
    @apply my-8 border-b border-gray-300 w-full;
  }

  .emailform {
    @apply prose w-full mb-1;
    h3 {
      @apply text-gray-600 mb-6;
    }
    input {
      @apply w-full rounded border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
    }

    .errormsg {
      @apply absolute text-xs text-red-500 mt-1 w-full;
    }
  }

  .otpform {
    @apply prose mb-1;
    h3 {
      @apply text-gray-600 mb-6;
    }
    input {
      width: 100%;
    }
  }

  .errormsg {
    @apply relative text-xs text-red-500 mt-2 w-full;
  }
}
