$headerHeight: 80px;

// Colors

$primary: theme("colors.yellow.500");
$primary-light: theme("colors.yellow.400");
$primary-dark: theme("colors.yellow.600");
$primary-extradark: theme("colors.yellow.700");

$secondary: theme("colors.blue.900");
$secondary-light: theme("colors.blue.700");
